{% extends "store/base.html" %} {% load static %} {% block content %}

<div class="top-banner">
    <div class="top-banner__wrapper">
        <div class="top-banner__wrapper__image">
            <div class="top-banner__wrapper__image__content">
                <div class="title129 mt-35 mt-15">
                    <h1>Improving Lives Through Learning</h1>
                </div>

                <h3>Explore thousands of courses starting at £13.99 each.</h3>

                <div class="top-banner__wrapper__image__content__buttons">
                    <a href="" class="crer_btn_link">Browse Courses</a> {% if user.is_authenticated %}
                    <a href="" class="crer_btn_link">Log In</a> {% else %}
                    <a href="" class="crer_btn_link">Register</a> {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="ud-component--logged-out-home--billboard" data-component-props='{"image_responsive_udlite":"https://unsplash.com/photos/XkKCui44iM0","title":"Learn on your schedule","image_responsive":"https://img-a.udemycdn.com/notices/home_banner/image_responsive/354ab47b-2132-49ac-8316-28dc01d9a5ed.jpg","subtitle_responsive":"Study any topic, anytime. Explore thousands of courses starting at \u00a313.99 each.","image":"https://img-a.udemycdn.com/notices/home_banner/image/5e733138-2116-4fdd-a927-c27a916dc488.jpg","title_responsive":"Learn on your schedule","image_udlite":"https://img-a.udemycdn.com/notices/home_banner/image_udlite/f8324ecd-1a8d-4260-8e15-ec8aaeffa1d1.jpg","subtitle":"Study any topic, anytime. Explore thousands of courses starting at \u00a313.99 each.","url":"","id":13023}'
        ng-non-bindable=""></div>
</div>

{% endblock %}